// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$clear-btn-background-hover: rgb(123, 142, 142);
$delete-btn-background: rgb(91, 164, 164);
$delete-btn-background-hover: rgb(44, 58, 58);
$featured-background: rgb(44, 58, 58);
$heading-background: rgb(91, 164, 164);
$job-background: rgb(255, 255, 255);
$main-background: rgb(239, 250, 250);
$new-background: rgb(91, 164, 164);
$tag-background:rgb(238, 246, 246);
$tag-background-hover:rgb(91, 164, 164);
$tag-section-background: rgb(255, 255, 255);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(91, 164, 164);
$word-color-3: rgb(123, 142, 142);